<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/montdb.js"></script>
    <title>TDB</title>
</head>
<body>

    <div class="content">
      <header>
        <div class="header-background"></div>
        <div class="title">
          <h1>
            Mon dashboard
          </h1>
        </div>
      </header>
      
      <main>
        <div class="chartContainer">
        </div>
      </main>
    </div>
    <script type="text/javascript">
        console.log("hello baby");
    </script>
</body>
</html>




